body {
    background-color: darkcyan !important;

}

.video {
    padding-left: 100px;
}
.accordion {
    background-color: #69c2c2;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 3px outset black;
    outline: none;
    transition: 0.4s;
    font-size: large;
    font-weight: 500;
}

.centered-title {
    text-align: center;
    color: black;
}

.image {
    display: block;
    padding-bottom: 100px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: right;
    padding-left: 100px;
    padding-bottom: 150px;
    width: 500px;
}

img {vertical-align: middle;}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.slide-show-settings {
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}
.post-container{
    float:left;
    width: 70%;
}
.other-container{
    width: 29%;
    float: right;
    background: pink;
}
.post {
    display: inline-block;
    width: 100%;
}

/* (B) NOT IMPORTANT - COSMETICS */
.wrap-flex > * {
    width: 33%;
}